<div class="nav_bar tabs is-toggle is-small">
  <ul>
    <li class="is-active">
      <a routerLink="/home" >
        <span>Home</span>
      </a>
    </li>
  
    <li>
      <a routerLink="/home/acessorio" routerLinkActive="active" >
        <span>Acessorio</span>
      </a>
    </li>
    <li>
      <a routerLink="/home/perifericos" routerLinkActive="active">
        <span>Perifericos</span>
      </a>
    </li>
    <li>
      <a routerLink="/home/celulares" routerLinkActive="active">
        <span>Celulares</span>
      </a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>


