.container{
    padding: 5px;
    -webkit-box-shadow: 0px 0px 37px -12px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 37px -12px rgba(0,0,0,1);
    box-shadow: 0px 0px 37px -12px rgba(0,0,0,1);
    width: 50%;
}

.colorButton{
    background-color: #8041FA;
    color: white ;
  }

 .colorLink{
    color: white ;
  }