<div class="columns">
  <div class="split left">
    <div class="centered">
      <h1 class="logo-text">Galaxy Tech</h1>
    </div>
  </div>
  <div class="split right">
    <div class="form-container">
      <h1 class="title">Faça Login</h1>
      <form>
        <div class="field">
          <label class="label">Insira seu email</label>
          <div class="control">
            <input type="email" placeholder="Email">
          </div>
        </div>
        <div class="field">
          <label class="label">Insira sua senha</label>
          <div class="control">
            <input type="password" placeholder="Senha">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button routerLink="/home" class="button is-primary is-fullwidth">Entrar</button>
          </div>
          <br>
          <div class="control">
            <button routerLink="/registro" class="button is-primary is-fullwidth">Cadastro</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

