@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: poppins;
}
.conteiner{

    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 175vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(208, 208, 208);
}

header, nav, section, footer {
    border: 1px solid #ccc;
    margin: 0px 10px 10px 10px;
    border-radius: 5px;
    background: #f9f9f9;
}

header {
    background: #e2e2e2;
}

section {
    background: rgb(208, 208, 208);
}

footer {
    background: #ffffff;
    text-align: center;
}

@media (max-width: 480px) {
    body {
        margin: 10px;
    }

    header, nav, section, footer {
        margin-bottom: 10px;
    }

    #section1 {
        flex-direction: column;
        height: auto;
    }
}
