
.container{
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    width: 50%;
}

.colorButton{
    background-color: #8041FA;
    color: white ;
  }

 .colorLink{
    color: white ;
  }