.container{
    color: red;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.color_text{
    color: #8041FA;
    display: flex;
    
    justify-content: left;
    
}

.color_button{
    padding: 3px;
    background-color: #8041FA;
    display: flex;
    
    justify-content: left;
}