.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    width: 260px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-image img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover; 
    
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 100px; 
}

.title {
    font-size: 20px; 
    margin: 5px 0;
}

.color_text {
    color: #8041FA;
    margin: 5px 0;
    font-weight: bold;
}

.color_button {
    padding: 3px;
    background-color: #8041FA;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 900px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.modal-image img {
    width: 100%;
    max-height: 300px; /* Altura máxima para a imagem no modal */
    object-fit: cover;
    margin-bottom: 20px;
}

.modal-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.modal-title {
    font-size: 5vw; 
    margin-bottom: 10px;
}

.modal-price {
    font-size: 4vw; 
    margin-bottom: 10px;
    color: #8041FA;
}

.modal-description {
    font-size: 3vw; 
    margin-bottom: 20px;
}

.modal-button {
    background-color: #8041FA;
    color: white;
}

@media (min-width: 600px) {
    .modal-title {
        font-size: 24px;
    }

    .modal-price {
        font-size: 20px;
    }

    .modal-description {
        font-size: 16px;
    }
}