<div class="card container">
    <div class="card-image">
      <figure class="image is-4by3">

        <img [src]="card.image" alt="{{ card.title }}">
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
         
        </div>
        <div class="media-content">
          <p class="title is-4">{{ card.title }}</p>
          <h1 class="title color_text is-5">R$ {{ card.preco }}</h1>
          <button class="button is-link color_button">Adiconar ao Carrinho</button>
        </div>
      </div>
      
    </div>
  </div>