<header class="header">
    <div class="site-name">Galaxy Tech</div>
    <div class="search-box">
        <input type="text" placeholder="Pesquisar" (input)="search($event)">
        <button type="button"><fa-icon [icon]="pesquisa" ></fa-icon></button>
    </div>
        <div class="navbar-item has-dropdown is-hoverable colorDrop">
          <a class="navbar-link">
            Produtos
          </a>
      
          <div class="navbar-dropdown colorDrop">
            <a class="navbar-item colorLink "  [routerLink]="['/gerenciar']" routerLinkActive="router-link-active">
              Gerenciar
            </a>
            <a class="navbar-item colorLink "  [routerLink]="['/criar']" routerLinkActive="router-link-active">
                Cadastrar
              </a>
            <a class="navbar-item">
              Components
            </a>
            <div class="navbar-item">
              Version 1.0.0
            </div>
          </div>
        </div>

        
 
</header>