<body>
    <header>
        <app-header-content></app-header-content>
    </header>
    <nav>
        <app-navbar-content></app-navbar-content>
    </nav>

    <section id="section1">
        <div id="img_01">
            <img class="imagens" src="/assets/Apple-Watch-Series-9.jpg" alt="">
        </div>
        <div id="img_02">
            <img class="imagens" src="/assets/06135138391161.jpg" alt="">
        </div>
    </section>

    <section class="section-cards">
        
        <app-card-content></app-card-content>
        <app-card-content></app-card-content>
        <app-card-content></app-card-content>
        <app-card-content></app-card-content>
        <app-card-content></app-card-content>
        
       
    </section>

    <section class="section-cards">
        <app-card-content></app-card-content>
        <app-card-content></app-card-content>
        <app-card-content></app-card-content>
        <app-card-content></app-card-content>
        <app-card-content></app-card-content>
    </section>

    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Galaxy Tech</strong>.
            Ecommerce Online
            <br>
            Feito por Caio Henrtique e Pedro Magno
          </p>
        </div>
      </footer>
    
</body>
