* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


header, nav, section, footer {
    border: 1px solid #ccc;
    margin: 0px 10px 10px 10px;
    border-radius: 5px;
    background: #f9f9f9;
}

header {
    background: #e2e2e2;
}


section {
    background: #f0f0f0;
}

footer {
    background: #e2e2e2;
    text-align: center;
}

@media (max-width: 480px) {
    body {
        padding: 10px;
        margin: 10px; 
    }
    
    header, nav, section, footer {
        padding: 10px;
        margin-bottom: 10px;
    }
    
}
