<body>
    <header>
        <app-header-content></app-header-content>
    </header>
    <nav>
        <app-navbar-content></app-navbar-content>
    </nav>
    
    <section>
      
      <app-section-content></app-section-content>
    </section>
    

    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Galaxy Tech</strong>.
            Ecommerce Online
            <br>
            Feito por Caio Henrtique e Pedro Magno
          </p>
        </div>
      </footer>
    
</body>
