<div class="columns">
  <div class="split left">
    <div class="centered">
      <h1 class="logo-text">Galaxy Tech</h1>
    </div>
  </div>
  <div class="split right">
    <div class="form-container">
      <h1 class="title">Crie uma Conta</h1>
      <form (ngSubmit)="registrar()">
        <div class="field">
          <label class="label">Insira seu nome</label>
          <div class="control">
            <input type="text" placeholder="Nome" [(ngModel)]="usuario" name="usuario">
          </div>
        </div>
        <div class="field">
          <label class="label">Insira seu email</label>
          <div class="control">
            <input type="email" placeholder="Email" [(ngModel)]="email" name="email" >
          </div>
        </div>
        <div class="field">
          <label class="label">Insira sua senha</label>
          <div class="control">
            <input type="password" placeholder="Senha" [(ngModel)]="senha" name="senha">
          </div>
        </div>
        <div class="field">
          <label class="label">Insira sua data de nascimento</label>
          <div class="control">
            <input type="date" id="dtNasc" [(ngModel)]="dtNasc" name="dtNasc">
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button type="submit" class="button is-primary is-fullwidth">Criar</button>
          </div>
        </div>
      </form>
      <p class="has-text-centered">
        Já possui uma conta? <a routerLink="">Login</a>
      </p>
    </div>
  </div>
</div>

